<br><br><br><br>


<div class="background" id="parallax-bg"></div>
<div class="card">
    <div class="cover-bg"></div>
    <div class="user-info-wrap">
        <div class="user-photo"></div>
        <div class="user-info">
            <div class="user-name">{{user.fullname}}</div>
            <div class="user-title">{{user.username}}</div>
        </div>
    </div>
    <div class="user-bio">
        <p>
            Email: {{user.email}}
        </p>
        <p>
            Password: {{user.password}}
        </p>
        <div class="social">
            <div class="social-icons">
                <a href="" class="fa">
                    <i class="fa fa-behance-square"></i>
                </a>
                <a href="" class="fa">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="" class="fa">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="" class="fa">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>

            <div class="message">
                <a href="" class="fa">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </div>
        </div>
    </div>
</div>